<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Flask Blog</title>
</head>
<body>
    <p class="text-center fs-1">MY TOP 5 MOST PLAYED 80's SONGS IN MY SPOTIFY</p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">1. AFRICA</h5>
            <small></small>
          </div>
          <p class="mb-1">TOTO</p>
          <small>Toto IV, June 25, 1982 (UK), Sunset Sound (Hollywood) 4:55</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">2. EVERYBODY WANTS TO RULE THE WORLD</h5>
          </div>
          <p class="mb-1">Tears For Fears</p>
          <small class="text-muted">Songs from the Big Chair, March 22, 1985 (England), The Wool Hall 4:11</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">3. STATE OF THE NATION</h5>
          </div>
          <p class="mb-1">Industry</p>
          <small class="text-muted">Stranger to Stranger, April 7, 1984, Capitol Records 3:27</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">4. TAKE ON ME</h5>
            </div>
            <p class="mb-1">A-ha</p>
            <small class="text-muted">Hunting High and Low, October 19, 1984, RG Jones (London) 3:49</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">5. THE PROMISE</h5>
            </div>
            <p class="mb-1">When In Rome</p>
            <small class="text-muted">When In Rome, September 7, 1987,  Virgin Label 3:40</small>
          </a>
      </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>